<app-usernav></app-usernav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                  <div class="card text-bg-secondary mb-3" *ngFor ="let i of result">

                    <div class ="card-header"> complain:{{i.complaints}}</div>
                  </div>

                </div>
            </div>

        </div>
    </div>
</div>