<app-usernav></app-usernav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Name: {{data[0].name}}</h5>
                  <p class="card-text">Address: {{data[0].address}}</p>
                  
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Email: {{data[0].emailid}}</li>
                    <li class="list-group-item">Phoneno: {{data[0].phoneno}}</li>
                  </ul>
              </div>


        </div>
    </div>
</div>

